@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.12.1/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* === GLOBALS === */
body {
    margin-right: 0;
    padding-right: 0;
    overflow-x: hidden;
}

section {
    padding: 60px;
}

.wrapper {
  padding: 60px;
}

span {
  font-family: "Roboto", sans-serif;
}

li {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

h2 {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.btn {
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
}

/* === COLOURS === */
.navbar {
  background-color: rgb(150, 167, 141) !important;
}

.bg-light {
  background-color: rgb(240, 240, 240) !important;
}

.btn-success {
  background-color: rgb(150, 167, 141) !important;
  border: none;
}

.btn-primary {
  background-color: rgb(182, 206, 180) !important;
  border: none;
}

.btn-secondary {
  background-color: rgb(217, 233, 207) !important;
  border: none;
}

/* === NAVIGATION PAGE === */
/* Navbar */
.nav-link {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.active {
  color: rgb(240, 240, 240);
  text-decoration: underline;
}

/* === INDEX PAGE === */
/* Carousel */
.c-item {
  height: 480px;
}

.c-img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(0.9);
}

/* === NEWS PAGE === */
.news-container-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
}

.card {
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow;
  cursor: pointer;
  text-decoration: none;
  padding: 20px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.card-news-img {
  width: 100%;
  height: 25vw;
  object-fit: cover;
}

.news-row {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  margin-bottom: 3rem;
}