@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.12.1/font/bootstrap-icons.min.css");

/* === COLOURS === */
.navbar {
  background-color: #fff !important;
}

.bg-light {
  background-color: rgba(50,72,92,0.05) !important;
}

.btn-primary {
  background-color: #efbb29 !important;
  border: none !important;
}

.btn-secondary {
  background-color: #ffde6a !important;
  border: none !important;
}

.btn-outline-primary {
  border-color: #efbb29 !important;
  color: #efbb29 !important;
}

.btn-outline-primary:hover {
  background-color: #efbb29 !important;
  color: #fff !important;
}

.btn-outline-secondary {
  border-color: #ffde6a !important;
  color: #ffde6a !important;
}

.btn-outline-secondary:hover {
  background-color: #ffde6a !important;
  color: #fff !important;
}

.color {
  color: #202833;
}

/* === TYPOGRAPHY === */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Raleway', sans-serif;
	color: #202833;
	font-weight: 300;
	margin: 0;
	text-transform: uppercase;
}

h1{
	font-size:21pt;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

h2{
	font-size:17pt;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

h3{
	font-weight:500;
	font-size:15pt;
	text-transform:none;
}

h4{
	font-size:16px;
	text-transform:none;
	font-weight: 500;
}

h5{
	font-size:14px;
	text-transform:none;
	line-height: 1.4;
}

h6{
    color: #adb2b6;
    font-size: 13px;
    text-transform: none;
    font-family: 'Open Sans', sans-serif;
}

/* === GLOBALS === */
body {
  margin-right: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;

  color: #74777c;
  background-color: #fff;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}


a {
  text-decoration: none;
}

section {
  padding: 60px;
}

.wrapper {
  padding: 60px;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.btn {
  font-size: 13px;
  padding: 0 16px;
  border-width: 2px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
}

/* === NAVIGATION === */
/* Navbar */
.navbar {
  padding: 0 15px;
  display: block;
  text-transform: uppercase;
}

.nav-link {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  color: #74777c;
}

.navbar-brand {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.active {
  color: rgb(240, 240, 240);
  text-decoration: underline;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 45px;
  width: auto;
}

/* === INDEX PAGE === */
/* Carousel */
.c-item {
  height: 480px;
}

.c-img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  filter: brightness(0.9);
}

/* === NEWS PAGE === */
.news-container-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
}

.card {
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow;
  cursor: pointer;
  text-decoration: none;
  padding: 20px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.card-news-img {
  width: 100%;
  height: 25vw;
  object-fit: cover;
}

.news-row {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  margin: 0;
}

/* === REGIONS PAGE === */
.card-regions {
  max-width: 600px;
}

/* === CONTACT PAGE === */
textarea {
  height: 250px;
}

/* === RENTAL PAGE === */
.rental-card-img {
  height: "200px";
  object-fit: cover;
}